[Unit]
Description=Munin DNF update checks

OnFailure=status_email_root@%n.service

[Service]
Group=nobody
ExecStart=/usr/share/munin/plugins/dnf update

# security settings
PrivateTmp=true

PrivateUsers=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=yes
